  <!--NAV-->
  <header class="header bg-light fixed-top">
    <nav class="navbar navbar-light">
      <div class="container">
        <a href="/" class="site-logo">
          <img class="navbar-brand" src="/images/assist-purp.png" alt="image" width="100px">
        </a>
        <!-- Desktop Navigation -->
        <div class="d-none d-md-flex">
          <ul class="nav mr-auto align-items-center">
            <li class="nav-item active">
              <a class="nav-link text-dar" href="/<%= username %>">
                <div class="text-primary">
                  <i class="fas fa-user-astronaut"></i>
                  <%= username %>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary" href="/users/logout">Logout</a>
            </li>
          </ul>
        </div>

        <button class="navbar-toggler collapsed d-xs-inline-block d-md-none" type="button" data-toggle="collapse"
          data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <div class="text-primary"><i class="fas fa-user-astronaut"></i> <%= username %></div>
        </button>

        <!-- Mobile Navigation -->
        <div class="collapse navbar-collapse d-xs-block d-md-none" id="navigation">
          <ul class="d-xs-flex nav mr-auto justify-content-around d-md-none align-items-center">
            <li class="nav-item active">
              <a class="nav-link text-dar" href="/<%= username %>">
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="/users/logout">Logout</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </header>
<!--End of Nav-->

  <div class="justify-content-between ">
    <div>
      <h1>Hello <%= name %>, </h1>
      <p>Member since <%- registered %></p>
    </div>

    <div>
      <h4>You have <%- events.count %> upcoming event</h4>
    </div>

    <div class="events">
      <p><%= events %></p>
    </div>

    <% if (events.count > 0) { %>
      <% include ./partials/calendar.ejs %>
    <% } %>
  </div>
